bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/CinemaTicketingSystem/CopilotIndices/17.14.827.52834
/.vs/CinemaTicketingSystem
/.vs/CinemaTicketingSystemDDDLesson/v17
/.vs
/.sonarqube
/.idea/.idea.CinemaTicketingSystem/.idea
